@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 35px;
}
h2{
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

header {
    background-color: #ef9a9a;
    padding: 5px;
    text-justify: center;
}

header > p, h1 {
    padding: 5px;
    text-align: center;
}


.btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-color: black; 
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
}
.btn:hover {
    border-color: blue;
}

input {
    margin: 5px;
    width: 100%;

}

.flexRow {
    float: left;
}
.btnDelete {
}