* {
    margin: 0px;
    padding: 0px;
    font-family: 'Sarabun', sans-serif;
}
form {
    margin: 1%;
    align-content: center;
    align-items: center;
    /* width: 100%;
    height: 100%; */
}

.mt-5 {
    margin-top: 5px;
}
.pl-5 {
    margin-left: 5px;
}

header {
    text-align: center;
    background-color: #004ba0;
    color: white;
}

nav{
    text-align: center;
    background-color: #1976d2;
    color: white;
}

.pl-5 {
    padding-left: 5px;
}



/* Esto hace desaparecer las flechitas de los inputs numericos. */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

article > form > div > label {
    display: none;
}

article > form > div > input{
    margin-top: 5px;
}

